<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/modify_word.css">
    <script src="https://kit.fontawesome.com/ba49d39b5e.js" crossorigin="anonymous"></script>
    <title>이음 : 세대와 세대를 이어주는 단어 사전</title>
</head>

<body>
    <nav class="navBar">
        <div class="navWrap">
            <div class="navFirst">
                <a class="mainLogo" href="#"><img src="/static/img/icon/Logo.png" alt="로고 아이콘"></a>
            </div>
            <div class="navSecond">
                <ul class="navList">
                    <li><a href="#">사전</a></li>
                    <li><a href="#">게시판</a></li>
                </ul>
            </div>
            <div class="userInfo">
                <div class="navicon">
                    <ul class="naviconList">
                        <li>
                            <a href="#"><img src="/static/img/icon/bell-solid 1.png" alt="종 아이콘"></a>
                        </li>
                        <li>
                            <a href="#"><img src="/static/img/icon/book-bookmark-solid 1.png" alt="북마크 아이콘"></a>
                        </li>
                    </ul>
                </div>
                <a href="#"><img class="userProfile" src="/static/img/profile/원숭이.png" alt="유저 프로필 사진"></a>
            </div>
        </div>
    </nav>
    <div class="modify_word_container">
        <div class="modify_word_header">
            <p><strong>'어쩔티비'</strong>에 대한<br>단어를 수정합니다.</p>
        </div>
        <div class="readNotices">
            <p>단어 수정시 주의사항 열람하기</p>
        </div>
        <div class="popup" id="popup">
            <p><strong style="font-size: 1.1rem;">단어 수정시 주의사항</strong><br>
                1. 해당 단어와 관련 없는 정보 수정 요청은 제한합니다.<br>
                2. 단어 수정 시, 해당 정보의 출처를 명시해주시면 더욱 신뢰성 있는 정보로 반영될 수 있습니다.<br>
                3. 단어 수정에는 변경하고자 하는 내용과 함께 추가적인 정보나 설명을 제공하면 더욱 원활하게 처리될 수 있습니다.<br>
                4. 다른 사용자를 비방하거나 욕설하는 내용의 수정 요청은 엄격히 금지되며, 서비스 이용규정에 따라 처리될 수 있습니다.</p>
        </div>
        <div class="modify_word_question" id="q1">
            <p id="modify_word_q1">1. 어쩔티비의 뜻을 한 줄로 작성해주세요.</p>
            <p>
                <textarea id="q1_modify_word_textarea" cols="70" rows="3"></textarea>
            <div class="q1_modify_word_text-length">
                <span class="q1_text-length-cnt">0</span>/
                <span class="q1_text-length-total">40</span>
            </div>
            </p>
            <div>
                <button disabled class="nextButton" id="modify_word_nextbtn1" data-next="#q2">다음으로</button>
            </div>
        </div>
        <div class="modify_word_question" id="q2" style="display: none;">
            <p id="modify_word_q2">2. 어쩔티비에 대한 설명을 300자 이내로 작성해 주세요.</p>
            <p>
                <textarea id="q2_modify_word_textarea" cols="70" rows="10"></textarea>
                <div class="q2_modify_word_text-length">
                    <span class="q2_text-length-cnt">0</span>/
                    <span class="q2_text-length-total">300</span>
                </div>
            </p>
            <div>
                <button class="backButton" id="word_register_backbtn">이전으로</button>
            </div>
            <div>
                <button disabled class="nextButton" id="modify_word_nextbtn2" data-next="#q3">다음으로</button>
            </div>
        </div>
        <div class="modify_word_question" id="q3" style="display: none;">
            <p id="modify_word_q3">3. 설명에 도움이 되는 사진을 추가해주세요.</p>
            <div class="image-preview">
                <div class="preview-container" id="preview-container">
                    <div id="preview-image" class="empty-preview"></div>
                </div>
                <div class="buttons-container">
                    <label for="image-input" id="add-btn">추가하기</label>
                    <button id="delete-btn" onclick="deleteImage()">삭제하기</button>
                </div>
                <input type="file" id="image-input" accept="image/*">
            </div>
            <div>
                <button class="backButton" id="word_register_backbtn">이전으로</button>
            </div>
            <div>
                <button class="submitButton" id="modify_word_submitbtn">등록하고 50 경험치 받기</button>
            </div> 
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/modify_word.js"></script>
<script src="/static/js/navList_check.js"></script>
</html>