@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    list-style: none;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    text-decoration-line: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFAFA;
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/*container*/
.container{
    min-width: 994px; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 10vh;
}

.quizWrap{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}

.quizWrap div{
    display: flex;
    flex-direction: column;
}

.quizQuestion{
    color: #232427;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.6rem */
    margin-bottom: 3rem;
}

.choiceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choiceCard{
}

.choiceBtn{
    color: #232427;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
    
    border-style: solid;
    border-width: 2px;
    width: 36.4375rem;
    height: 3.75rem;
    margin-bottom: 1.5rem;
    border-color: #FFF;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.choiceBtn:hover{
    opacity: 0.8;
    background-color: #FFE173;
}

.choiceBtn:active{
    position: relative;
    top: 2px;
}

.choiceTxt{
    color: #232427;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 130%; /* 1.625rem */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/*result*/
.quizScore{
    color: #232427;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.6rem */
}

.scoreContent{
    color: #232427;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
}

.expContent{
    color: #232427;
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 150%;
}

.scoreWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wordBrowserBtn{
    border-style: none;
    cursor: pointer;
    border-radius: 1.875rem;
    background: #FFF;

    color: #232427;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 1.625rem */
                
    width: 14.6875rem;
    height: 3.75rem;
    /* Drop Shadow */
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.wordBrowserBtn:hover{
    opacity: 0.8;
}

.wordBrowserBtn:active{
    position: relative;
    top: 2px;
}

ul, li{
    padding: 0;
    margin: 0;
}