@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    text-decoration-line: none;
    border-style: none;
}


body{
    background: #FAFAFA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    z-index: 10;
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}


/* main container */
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 14.0741vh 22.5rem;
}

/* 댓글 버튼 */
.comment_container{
    width: 62.1875rem;
    height: 4rem;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    display: flex;
    margin-top: 1.5rem;
    padding: 0 0 0 1rem ; 
}

.comment_btn{
    width: 8.25rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    background: #232427;
    display: flex;
    margin-top: -3rem;
    margin-left: 52.06rem;
    cursor: pointer;
}

.comment_btn > img{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.37rem;
    margin-left: 1.21rem;
}

.comment_btn > p{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.3rem */
    margin-top: 0.47rem;
    margin-left: 0.5rem;
}

/* 질문한 단어 등록 */
.comment_txt{
    color: #232427;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.275rem */
    margin-top: 4rem;
    display: flex;
}

/* 등록된 댓글 */
.comment_sbm{
    color: #232427;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.275rem */
    margin-top: 4rem;
    display: flex;
}

/* 등록하기 */
.submit_btn_container{
    display: flex;
    margin-top: 4rem;
    margin-left: 17.24rem;
}

.submit_btn_container > a{
    color: #232427;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.625rem */
}

.submit_btn_container > p{
    color: #232427;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.625rem */
}

.submit_btn{
    margin-left: 3.12rem;
    text-decoration: underline;
}


/* 카드 부분 */

.qna_card{
    display: flex;
    position: relative;
    margin-top: 4.5rem;
    width: 62.1875rem;
    height: 15.85969rem;
}

.qna_card_comment{
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    width: 62.1875rem;
    height: 15.85969rem;
}

.qna_card_img > img{
    position: absolute;
    left: 2.3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    border: 4px solid #FFF;
    z-index: 2;
}

.qna_card_background{
    position: absolute;
    top: 2.6435rem;
    width: 62.1875rem;
    height: 12.48469rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    z-index: 1;
    top: 1.68rem;
}

.qna_card_inf{
    position: absolute;
    display: flex;
    top: 4.81rem;
    left: 2.3rem;
    z-index: 3;
}

.qna_card_name > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_date > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_view > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_a_view{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_a_text{
    position: absolute;
    margin-top: 6.87rem;
    margin-left: 2.3rem;
    z-index: 4;
}

.qna_card_a_text > h1{
    color: #232427;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 1.625rem */
    margin-bottom: 0;
}

.qna_card_a_text > h2{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    margin-top: 0.25rem;
}


.qna_card_q > button{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 5;
    top: 12.89rem;
    left: 49.38rem;
    width: 10.9375rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 3px solid #FFF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    cursor: pointer;
}

.qna_card_q > button > img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.25rem;
}

.qna_card_q > button > p{
    color: #232427;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.3rem */
    margin-left: 0.2rem;
}
/* 좋아요 색 */
.liked {
    background-color: blue; /* 원하는 스타일로 변경하세요 */
    color: white;
}

/* 단어 부분 */
.word_container{
    display: flex;
    margin-top: 1.5rem;
}

.word{
    width: 17.375rem;
    height: 12.5rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    cursor: pointer;
}

.word:active{
    position: relative;
    top: 2px;
}

.word:hover{
    opacity: 0.8;
}

.word_name{
    margin-top: 0.86rem;
    margin-left: 1.48rem;
    column-count: 2;
    column-gap: 5rem;
}

.word_name > p{
    width: 9.455rem;
    height: 1.5rem;
    color: #232427;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img_container{
    display: flex;
}


.word_name > img{
    width: 2.36931rem;
    height: 2.25rem;
}

.word_what{
    width: 14.35644rem;
    height: 6.27069rem;
    margin-top: 0.75rem;
}

.word_what > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    margin-left: 1.5rem;
}

.word_heart{
    width: 1.233rem;
    height: 1rem;
    margin-top: 0.34rem;
    margin-left: 1.48rem;
    column-count: 2;
}

.word_heart > p{
    margin-left: 0.62rem;
    color: #232427;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* 버튼 눌림 효과 */
.qna_card_q >button:hover{
    opacity: 0.8;
}

.comment_btn:active{
    position: relative;
    top: 2px;
}

.comment_btn:hover{
    opacity: 0.8;
}
