@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} /* 전체 font css */

*{
    font-family: 'Pretendard-Regular';
    font-style: normal;
    list-style: none;
} /* 전체 font css 입히기 */

body {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    min-height: 100vh;
    margin: 0;
} /* 가운데 정렬 및 자리잡기 css */

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    z-index: 1000;
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.word_register_container{
    max-width: 768px; /* 최대 가로 폭을 768px로 제한 */
    padding: 1rem; /* 컨테이너 주위에 약간의 간격을 추가*/
    text-align: left; /* 컨테이너 안의 요소들을 왼쪽 정렬*/
    position: relative;
    top:-20px; /* 컨테이너를 위로 옮기기 */
}

    
.word_register_header p{
    color: black;
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 580;
    line-height: 130%;
    /* 2.6rem */
}

.word_register_input {
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    width: 30rem;
    height: 1.2rem;
    outline: none;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); /* 그림자 이 수치로 통일 */
    background: #FFF;
} /* 단어 등록 입력창 CSS */

.word_register_header p strong {
    font-weight: 700;
} /*이음 강조*/


.readNotices {
    display: inline-flex;
    padding: 0.1rem 3.0rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5rem;
    background:black;
    margin-top: -0.5rem;
    position: relative;

}
.readNotices p {
    color: #FFF;
    font-family: 'Pretendard-Regular';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    cursor: default;
    /* 1.3rem */
}
.popup{
    visibility: hidden;
    position: absolute;
    margin-top: 12px;
    left: 0;
    top: -5; /* 팝업이 .readNotices 요소 아래에 위치하도록 설정하고 여유 공간 확보 */
    right: 0;
    line-height: 2rem;
    padding: 1rem 1rem;
    width: 48rem;
    border-radius: 5px;
    color: black;
    font-weight: 100;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1; /* 팝업의 z-index를 설정하여 다른 요소보다 앞에 표시됩니다. */
    display: flex; /* Flex 컨테이너로 설정합니다. */
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    pointer-events: none; /* 팝업을 마우스 이벤트에서 제외합니다. */
}

.readNotices:hover+.popup {
    visibility: visible;
    display: block;
    opacity: 1;
    transform: translateX(0); /* 팝업을 이동하지 않고 원래 위치에 보이도록 합니다. */    
}/* 주의 사항 열람하기 박스 CSS */

.word_register_question{
    font-weight: bold;
}

#word_register_nextbtn {
    color: #232427;
    text-align: center;
    font-family: 'Pretendard-regular';
    padding: 0.5rem 0.8rem 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFE173;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}/* 다음으로 첫번째 버튼 */

#word_register_nextbtn:hover {
    background-color: #FFD87D;
    /* 마우스를 올렸을 때의 배경색 */
}

#word_register_nextbtn[disabled]{
    background-color: lightgray;
    font-weight: lighter;
    cursor: default;
    color: gray;
}

#word_registre_nextbtn[disabled]:hover{
    background-color: lightgray;
    cursor: default;
    color: gray;
    font-weight: lighter;
}

#word_register_backbtn1{
    display: inline-block;
    width: 44rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFF;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    cursor: pointer;
}

#word_register_backbtn{
    display: inline-block;
    width: 44rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFF;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    cursor: pointer;
}

#word_register_nextbtn1 {
    display: inline-block;
    width: 44rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFE173;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    cursor: pointer;
}/* 다음으로 첫번째 버튼 */

#word_register_nextbtn1:hover {
    background-color: #FFD87D;
    /* 마우스를 올렸을 때의 배경색 */
}

#word_register_nextbtn1[disabled]{
    background-color: lightgray;
    font-weight: lighter;
    cursor: default;
    color: gray;
}

#word_registre_nextbtn1[disabled]:hover{
    background-color: lightgray;
    cursor: default;
    color: gray;
    font-weight: lighter;
}

/* 수정 요청 제출 버튼 hover*/
.word_register_availability{
    font-size: 0.8rem;
}

.word_register_availability #success {
    color: #A3D9CB;
}

.word_register_availability #fail {
    color: #232427;
}

/* 두번째 질문 버튼 스타일 */
.selectbtn {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    width: 4.3rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    color: #000000; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid transparent; /* 테두리 효과 제거 */
    cursor: pointer;
} 

/* 체크박스 자체를 감추기 */
.word_register_genselect input[type="checkbox"] {
    display: none;
}

/* 라벨을 가로로 나열 */
.word_register_genselect .selectbtn {
    display: inline-block;
    margin-right: 20px;
    width: 90px;
    /* 각 라벨 사이의 간격 조절 */
}

/* 라벨에 마우스를 올렸을 때 스타일 변경 */
#selectbtn_10:hover {
    border: 1px solid #FFF36F;
    background-color: white;
    color: #000000;
}/*10대 버튼 Hover*/

#selectbtn_20:hover {
    border: 1px solid #CCF243;
    background-color: white;
    color: #000000;
}/*20대 버튼 Hover*/

#selectbtn_30:hover {
    border: 1px solid #84D3F2;
    background-color: white;
    color: #000000;
}/*30대 버튼 Hover*/

#selectbtn_40:hover {
    border: 1px solid #7663F1;
    background-color: white;
    color: #000000;
}/*40대 버튼 Hover*/

#selectbtn_50:hover {
    border: 1px solid #F24B77;
    background-color: white;
    color: #000000;
}/*50대 이상 버튼 Hover*/

/* 체크된 라벨에 스타일 적용 */
.word_register_genselect input[type="checkbox"]:checked+#selectbtn_10 {
    background-color: #FFF36F;
    color: #000000;
}/* 10대 체크된 라벨 스타일*/

.word_register_genselect input[type="checkbox"]:checked+#selectbtn_20 {
    background-color: #CCF243;
    color: #000000;
}/* 20대 체크된 라벨 스타일*/

.word_register_genselect input[type="checkbox"]:checked+#selectbtn_30 {
    background-color: #84D3F2;
    color: #000000;
}/* 30대 체크된 라벨 스타일*/

.word_register_genselect input[type="checkbox"]:checked+#selectbtn_40 {
    background-color: #7663F1;
    color: #000000;
}/* 40대 체크된 라벨 스타일*/

.word_register_genselect input[type="checkbox"]:checked+#selectbtn_50 {
    background-color: #F24B77;
    color: #000000;
}/* 50대 이상 체크된 라벨 스타일*/

.word_register_question textarea {
    resize: none;
    border: none;
    outline: none;
    padding: 0.8rem 0.6rem;
    border-radius: 1.1rem;
    font-size: 18px;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
}

.q3_word_register_text-length{
    margin-top: -1rem;
    float: right;
    margin-bottom: 1rem;
}

.q4_word_register_text-length{
    margin-top: -1rem;
    float: right;
    margin-bottom: 1rem;
}


/*textarea CSS*/
#word_register_nextbtn2 {
    display: inline-block;
    width: 44rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFE173;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    cursor: pointer;
}

#word_register_nextbtn2:hover {
    background-color: #FFD87D;
    /* 마우스를 올렸을 때의 배경색 */
}/* 수정 요청 제출 버튼 hover*/

#word_register_nextbtn2[disabled] {
    background-color: lightgray;
    cursor: default;
}
#word_register_nextbtn2[disabled]:hover{
    background-color: lightgray;
    cursor: default;
}

#word_register_nextbtn3 {
    display: inline-block;
    width: 44rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFE173;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    cursor: pointer;
}

#word_register_nextbtn3:hover {
    background-color: #FFD87D;
    /* 마우스를 올렸을 때의 배경색 */
}/* 수정 요청 제출 버튼 hover*/

#word_register_nextbtn3[disabled] {
    background-color: lightgray;
    cursor: default;
}
#word_register_nextbtn3[disabled]:hover{
    background-color: lightgray;
    cursor: default;
}
/* 이미지 프리뷰 관련 스타일 */
.image-preview {
    display: flex;
    flex-direction: row; /* 가로 방향으로 정렬합니다. */
    justify-content: flex-start; /* 왼쪽 정렬합니다. */
    align-items: center;
    margin-top: 20px;
}

.preview-container {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.empty-preview {
    color: #777;
}

#preview-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 버튼들을 오른쪽에 정렬합니다. */
    margin-left: 10px; /* 간격을 위해 왼쪽 여백을 추가합니다. */
}

#add-btn,
#delete-btn {
    width: 4.9rem; /* 버튼들의 너비를 100%로 설정하여 동일한 크기로 만듭니다. */
    padding: 9px 1px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5rem;
    text-align: center;
    cursor: pointer;
    font: 15px;
    font-weight: normal;
    cursor: pointer;
}

#add-btn:hover,
#delete-btn:hover{
    background-color: #333333;
}

#delete-btn {
    margin-top: 10px; /* 간격을 위해 위쪽 여백을 추가합니다. */
    background-color: black;
    padding: 9px 12px;
    font-size: 15px;
    width: 5rem;
}

/* 파일 업로드 입력을 숨기기 위한 스타일 */
input[type="file"] {
    display: none;
}

/* 레이블을 버튼처럼 스타일링합니다. */
label[for="image-input"] {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal; /* 추가하기 라벨의 글씨 굵기를 조정합니다. */
}

#word_register_submitbtn {
    display: inline-block;
    width: 44rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFE173;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    cursor: pointer;
} /*최종 제출 버튼*/

#word_register_submitbtn:hover {
    background-color: #FFD87D;
    /* 마우스를 올렸을 때의 배경색 */
}
