@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
   
} /* 기본 폰트 css */

*{
    list-style: none;
}

body {
    display: flex;
    height: 100vh;
    background-color: #FAFAFA;
    margin: 8rem;
    font-family: 'Pretendard-Regular';
    
}/* 전체적인 위치 잡기 css*/

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/*전체적인 div 자리잡기*/
.word_detail_leftContainer,
.word_detail_rightContainer {
    width: 45%; /* 왼쪽과 오른쪽 컨테이너가 45%씩 차지*/
    padding: 20px; 
}

.word_detail_leftContainer {
    margin-right: 2rem; /* 왼쪽과 오른쪽 컨테이너 사이에 간격*/
}

.word_detail_rightContainer {
    margin-left: 2rem; /* 왼쪽과 오른쪽 컨테이너 사이에 간격*/
}

/*단어 와 아이콘의 배치 css 성공*/
.word_detail_header{
    display: flex; /* 사진을 오른쪽으로 이동*/
    align-items: center; /* 이미지를 블록 요소로 변경 후, 한줄에 위치하도록 설정*/
}

#word_age_icon{
    margin-left: auto;
    display: block;
}
/*단어 와 아이콘의 배치 css -끝-*/

/*fontawesome 아이콘 활용 . 좋아용. 단어장 담기 기능 자리 배치 css*/

.word_detail_iconcontainer {
    display: flex;
    align-items: center;
}

#word_like {
    display: flex;
    align-items: center;
}

#word_restore {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

#word_like i,
#word_restore i {
    margin-right: 0.5rem; /* 아이콘과 글씨 사이 간격 조정 */
}

#like_count, #bookmark_icon{
    width: 10px; /*숫자 변경 시 위치가 변하는 것을 방지하기 위해 위치 고정 */
}
/*fontawesome 아이콘 활용 . 좋아용. 단어장 담기 기능 자리 배치 css -끝- */


.word_detail_search{
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 20rem;
    height: 1.2rem;
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); /* 그림자 이 수치로 통일 */
    background: #FFF;
}/* 단어 상세 검색창 CSS*/

.word_detail_searchbtn{
    color: #232427;
    text-align: center;
    font-family: 'Pretendard-regular';
    padding: 0.5rem 0.8rem 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    border-radius: 5rem;
    background-color: #FFE173;
    box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}/* 단어 상세 검색창 버튼 CSS*/

.word_detail_searchbtn:hover {
    background-color: #FFD87D; /* 마우스를 올렸을 때의 배경색 */
} /*단어 상세 검색창 버튼 hover*/

.word_detail_image img {
    width: 100%; /* 이미지가 가로 전체 차지하도록 설정 */
    height: auto; /* 세로 비율 유지 */
    object-fit: cover; /* 이미지가 컨테이너에 꽉 차도록 조절 */
}/* 단어 등록 이미지 css*/

.detail_tab{
    margin-top: 1rem;
    padding: 0.1rem 0.9rem;
    width: 23rem;
    border-radius: 1.5rem;
    color: black;
    font-weight: 100;
    background-color: #FFFFFF;
    box-shadow: 2px 1px 1.5px 0.5px rgba(0, 0, 0, 0.2);
} /*단어 상세 페이지 rightbox 에 들어있는 탭들 class css*/

.tab_title{
    font-weight: bold;
    font-size: 1.1rem;
} /*탭의 소제목 css*/

.tab_content_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.tab_content_title {
    font-size: 1rem;
}

.tab_content_date {
    font-size: 1rem;
    color: gray;
}

#word_title{
    font-weight: bold;
    font-size: 1.5rem;
} /*단어 이름 css*/

.word_detail_mean p{
    font-weight: bold;
}/*단어 뜻 css*/

.word_detail_content p{
    line-height: 2rem;
} /*단어 설명 css*/

#word_detail_footer a{
    margin-left: 15px;
}/*사이 간격 조정*/

/* 사용자 레벨 css */
.word_detail_userlevel {
    width: 80px;
    height: 30px;
    border-radius: 3rem;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word_detail_userinfo {
    display: flex;
    flex-wrap: wrap; /* 요소들이 창 크기에 따라 줄바꿈되도록 설정 */
    align-items: center; /* 요소들을 수직으로 가운데 정렬*/
    font-weight: bold;
    font-size: normal;
    margin-left: auto;
}

#userlevel_frame {
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    margin: 3px 2px;
    object-fit: contain;
    margin-left: 1rem;
}

#userlevel_icon {
    width: 2rem;
    height: 2rem;
    margin: 3px 2px;
    object-fit: contain;
}

/*플로팅 버튼 css 시작 부분*/
#floating_button_wrap {
    text-align: right;
    padding: 10px;
}

.floating_icon {
    height: 1000px;
}

.floating_button {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: gold;
    border-radius: 100%;
    position: sticky;
    top: 30rem;
    overflow: hidden; /* 이미지가 버튼을 넘치지 않도록 설정 */
    display: flex;
    justify-content: center; /* 이미지를 가로로 가운데로 정렬 */
    align-items: center; /* 이미지를 세로로 가운데로 정렬 */
    cursor: pointer;
}

.floating_button_name{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: sticky;
    top: 28rem;
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 0.1rem;
}

.floating_button img {
    /* 플로팅 버튼 이미지가 부모 요소인 .floating_button 안에 들어가도록 설정 */
    width: 60%;
    height: 60%;
    margin-left: 0.3rem;
}

/*플로팅 버튼 css 끝 부분*/