@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    text-decoration-line: none;
    border-style: none;
}


body{
    background: #FAFAFA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    z-index: 10;
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}



/* main container */
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 14.0741vh 22.5rem;
}

/* 검색바 부분 */
.search > p{
    color: #232427;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    margin-top: 4.5rem;
}

.search_btn{
    margin-top: 0.75rem;
    align-items: flex-start;
    display: flex;
}

.search_btn > input{
    width: 30.125rem;
    height: 3.75rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    justify-content: center;
}

.search_btn > button{
    width: 4.5rem;
    height: 3.75rem;
    background: #FFE173;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    border-radius: 1.25rem;
    margin-left: 0.75rem;
    justify-content: center;
    cursor: pointer;
}

.search_btn > button > svg{
    width: 1.49969rem;
    height: 1.5rem;
    left: 1.50013rem;
    top: 1.125rem;
    fill: var(--black, #232427);
}

/* 단어 추가 버튼 부분 */
.rword{
    align-items: flex-start;
    display: flex;
    margin-left: 0.75rem;
}

.rword > button{
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 1.25rem;
    background: #232427;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    display: flex;
    cursor: pointer;
}

/* 버튼 눌림 효과 */
.rword > button:active{
    position: relative;
    top: 2px;
}

.rword > button:active{
    opacity: 0.8;
}

.search_btn > button:active{
    position: relative;
    top: 2px;
}

.search_btn > button:active{
    opacity: 0.8;
}
/* 버튼 눌림 효과 */

.rword > button > img{
    width: 2rem;
    height: 2rem;
    margin-left: 0.84rem;
    float: left;
    margin-top: 0.94rem;
}

.rword > button > p{
    color: #FFF;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 0.85rem;
    margin-top: 0.94rem;
}

/* 단어 추천 부분 */
.main{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 조회수가 많은 단어 부분 */
.main_mword > a{
    width: 17.375rem;
    color: #232427;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.275rem */
    margin-top: 4rem;   
    margin-bottom: 0.75rem;
    display: flex;
}

.main_lword > a{
    width: 17.375rem;
    color: #232427;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.275rem */
    margin-top: 4rem;
    margin-bottom: 0.75rem;
    display: flex;
}


/* 단어 부분 */
.word_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.88rem;
}

.word_container_recent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.88rem;
}

.word{
    width: 17.375rem;
    height: 12.5rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    cursor: pointer;
}

.word:active{
    position: relative;
    top: 2px;
}

.word:hover{
    opacity: 0.8;
}

.word_name{
    margin-top: 0.86rem;
    margin-left: 1.48rem;
    column-count: 2;
    column-gap: 5rem;
}

.word_name > p{
    width: 9.455rem;
    height: 1.5rem;
    color: #232427;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img_container{
    display: flex;
}

.word_name > img{
    width: 2.36931rem;
    height: 2.25rem;
}

.word_what{
    width: 14.35644rem;
    height: 6.27069rem;
    margin-top: 0.75rem;
}

.word_what > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    margin-left: 1.5rem;
}

.word_heart{
    width: 1.233rem;
    height: 1rem;
    margin-top: 0.34rem;
    margin-left: 1.48rem;
    column-count: 2;
}

.word_heart > p{
    margin-left: 0.62rem;
    color: #232427;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/*플로팅 버튼 css 시작 부분*/
#floating_button_wrap {
    position: fixed; /* 화면 스크롤에 영향 받지 않고 고정 */
    bottom: 20rem; /* 아래쪽으로 고정 */
    right: 5rem; /* 오른쪽으로 고정 */
    z-index: 100; /* 다른 요소 위에 표시 */
}

.floating_button {
    width: 100px;
    height: 100px;
    background: gold;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s; /* 부드러운 애니메이션 추가 */
}

.floating_button:hover {
    transform: scale(1.05); /* 마우스 호버 시 크기 약간 증가 */
}

.floating_button img {
    margin-top: -1rem;
    width: 60%;
    height: 60%;
}

.floating_button_name {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 0.1rem;
}
/*플로팅 버튼 css 끝 부분*/
