<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이음 : 세대와 세대를 이어주는 단어 사전</title>
    <link rel="stylesheet" href="../static/css/landing/landing.css">
</head>

<body>    
  <nav class="navBar">
    <div class="navWrap">
        <div class="navFirst">
            <a class="mainLogo" href="#"><img src="/static/img/icon/Logo.png" alt="로고 아이콘"></a>
        </div>
        <div class="navSecond">
            <ul class="navList">
                <li><a href="#">사전</a></li>
                <li><a href="#">게시판</a></li>
            </ul>
        </div>
        <div class="userInfo">
            <div class="navicon">
                <ul class="naviconList">
                    <li>
                        <a href="#"><img src="/static/img/icon/bell-solid 1.png" alt="종 아이콘"></a>
                    </li>
                    <li>
                        <a href="#"><img src="/static/img/icon/book-bookmark-solid 1.png" alt="북마크 아이콘"></a>
                    </li>
                </ul>
            </div>
            <a href=""><img class="userProfile" src="/static/img/profile/원숭이.png" alt="유저프로필 사진"></a>
        </div>
    </div>
</nav>

<div id="floating_button_wrap">
  <div class="floating_button">
    <p class="floating_button_name"> 카카오톡 로그인 하고 나의 세대 단어 등록하기</p>
  </div>  
</div>

<div class="container">
  <img class=container src="../static/img/landing.png" alt="">
</div>

<script src="/static/js/navList_check.js"></script>
</body>
</html>