<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이음 : 세대와 세대를 이어주는 단어 사전</title>
    <link rel="stylesheet" href="../static/css/landing/landing.css">
</head>

<body>    
  <div class="navBar">
    <ul class="navList">
        <li class="navFirst">
            <a href="#">
                <img src="../static/img/Logo.png" alt="mainLogo">
            </a>
        </li>
        <div class="navWrap">
            <li>
                <ul class="navSecond">
                    <li>
                        <a class="navDicBtn" href="#">
                            사전
                        </a>
                    </li>
                    <li>
                        <a class="navBoardBtn" href="#">
                            게시판
                        </a>
                    </li>
                </ul>
            </li>
            <li>
              <div class="loginBtn">
                <img src="../static/img/kakao.png" alt="">
                <p class="loginBtnTxt">
                  카카오톡으로 시작하기
                </p>
              </div>
            </li>
        </div>
    </ul>
</div>

<div id="floating_button_wrap">
  <div class="floating_button">
    <p class="floating_button_name"> 카카오톡 로그인 하고 나의 세대 단어 등록하기</p>
  </div>  
</div>

<div class="container">
  <img class=container src="../static/img/landing.png" alt="">
</div>

</body>
</html>