@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    text-decoration-line: none;
    border-style: none;
}


body{
    background: #FAFAFA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    z-index: 10;
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}



/* main container */
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 14.0741vh 22.5rem;
}

/* 검색바 부분 */
.search > p{
    color: #232427;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    margin-top: 4.5rem;
}

.search_btn{
    margin-top: 0.75rem;
    align-items: flex-start;
    display: flex;
}

.search_btn > input{
    width: 30.125rem;
    height: 3.75rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    justify-content: center;
}

.search_btn > button{
    width: 4.5rem;
    height: 3.75rem;
    background: #FFE173;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    border-radius: 1.25rem;
    margin-left: 0.75rem;
    justify-content: center;
    cursor: pointer;
}

.search_btn > button > svg{
    width: 1.49969rem;
    height: 1.5rem;
    left: 1.50013rem;
    top: 1.125rem;
    fill: var(--black, #232427);
}

/* 단어 추가 버튼 부분 */
.rword{
    align-items: flex-start;
    display: flex;
    margin-left: 0.75rem;
}

.rword > button{
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 1.25rem;
    background: #232427;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    display: flex;
    cursor: pointer;
}

.rword > button > img{
    width: 2rem;
    height: 2rem;
    margin-left: 0.84rem;
    float: left;
    margin-top: 0.94rem;
}

.rword > button > p{
    color: #FFF;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 0.85rem;
    margin-top: 0.94rem;
}

.main{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 질문 부분 */
.main_mword > a{
    width: 17.375rem;
    color: #232427;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.275rem */
    margin-top: 4rem;
    margin-bottom: 0.75rem;
    display: flex;
}

.main_lword > a{
    width: 17.375rem;
    color: #232427;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 2.275rem */
    margin-top: 4rem;
    margin-bottom: 0.75rem;
    display: flex;
}




/* 카드 부분 */
.qna_card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.88rem;
}
.qna_card_container_recent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.88rem;
}

.qna_card{
    display: flex;
    position: relative;
    width: 36.625rem;
    height: 15.1435rem;
}

.qna_card_img > img{
    position: absolute;
    left: 2.3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    border: 4px solid #FFF;
    z-index: 2;
}

.qna_card_background{
    position: absolute;
    top: 2.6435rem;
    width: 36.625rem;
    height: 12.5rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    z-index: 1;
    top: 1.68rem;
}

.qna_card_inf{
    position: absolute;
    display: flex;
    top: 4.81rem;
    left: 2.3rem;
    z-index: 3;
}

.qna_card_name > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_date > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_view > p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_a_view{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.qna_card_a_text{
    position: absolute;
    margin-top: 6.87rem;
    margin-left: 2.3rem;
    z-index: 4;
}

.qna_card_a_text > h1{
    color: #232427;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 1.625rem */
    margin-bottom: 0;
}

.qna_card_a_text > h2{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    margin-top: 0.25rem;
}


.qna_card_q > button{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 5;
    top: 12.89rem;
    left: 12rem;
    width: 10.9375rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 3px solid #FFF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    cursor: pointer;
}

.qna_card_q > button > img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.25rem;
}

.qna_card_q > button > p{
    color: #232427;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.3rem */
    margin-left: 0.2rem;
}

.qna_card_a > button{
    position: absolute;
    top: 12.89rem;
    left: 23.69rem;
    display: flex;
    align-items: center;
    width: 10.9375rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 3px solid var(--black, #232427);
    background: var(--black, #232427);
    z-index: 6;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
    cursor: pointer;
}

.qna_card_a > button > img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.9rem;
}

.qna_card_a > button > p{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.3rem */
    margin-left: 0.2rem;
}


/* 버튼 눌림 효과 */
.rword > button:active{
    position: relative;
    top: 2px;
}

.rword > button:active{
    opacity: 0.8;
}

.search_btn > button:active{
    position: relative;
    top: 2px;
}

.search_btn > button:active{
    opacity: 0.8;
}

/* .qna_card_q > button:active{
    position: relative;
    top: 2px; 
} */

.qna_card_q >button:hover{
    opacity: 0.8;
}

/* .qna_card_a > button:active{
    position: relative;
    top: 2px; 
} */

.qna_card_a >button:hover{
    opacity: 0.8;
}


/*플로팅 버튼 css 시작 부분*/
#floating_button_wrap {
    position: fixed; /* 화면 스크롤에 영향 받지 않고 고정 */
    bottom: 20rem; /* 아래쪽으로 고정 */
    right: 5rem; /* 오른쪽으로 고정 */
    z-index: 100; /* 다른 요소 위에 표시 */
}

.floating_button {
    width: 100px;
    height: 100px;
    background: gold;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s; /* 부드러운 애니메이션 추가 */
}

.floating_button:hover {
    transform: scale(1.05); /* 마우스 호버 시 크기 약간 증가 */
}

.floating_button img {
    margin-top: -1rem;
    width: 60%;
    height: 60%;
}

.floating_button_name {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 0.1rem;
}
/*플로팅 버튼 css 끝 부분*/
