@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    list-style: none;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    text-decoration-line: none;
    border-style: none;
    margin: 0;
    padding: 0;
}


body{
    background: #FAFAFA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}

/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/*container*/
.container{
    min-width: 994px; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1.5rem;
    margin-top: 10vh;
    padding-top: 3rem;
}

.guideContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.guideTxt{
    color: #232427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 130%; /* 2.6rem */
} 

.guideBtn{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.guideBtn > input{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #D9D9D9;
    padding: 1.25rem;
    color: #232427;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    
    /* Drop Shadow */
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.guideBtn > input:hover{
    opacity: 0.8;
}

.guideBtn > input:active{
    background-color: #FFE173;
    position: relative;
    top: 2px;
}

.alertList{
    min-width: 994px;
}

.alertCardList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 41.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.alertCardList::-webkit-scrollbar {
    width: 0.625rem;
}

.alertCardList::-webkit-scrollbar-thumb {
    background-color: #FFE173;
    border-radius: 0.625rem;
    height: 30%;
}

.alertCard{
    width: 94%;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);

    padding: 1.25rem 1.59rem;
    cursor: pointer;
}

.alertCard:hover{
    opacity: 0.8;
}

.alertCard:active{
    position: relative;
    top: 2px;
}

.alertCard.selected {
    border: 2px solid #FFE173;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.alertCard.checked {
    background-color: #FAFAFA;
}

.alertText{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.cardInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardInfo p{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}

.alertContent{
    color: #232427;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

  