@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    list-style: none;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    text-decoration-line: none;
    border-style: none;
    margin: 0;
    padding: 0;
}

body{
    background: #FAFAFA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.navWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.navFirst {
    flex: 1;
}

.navSecond {
    flex: 1;
    font-weight: bold;
}


/* nav icon list를 수평으로 표시하기 위해 수정 */
.navicon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.naviconList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.naviconList li img {
    width: 30px;
    height: 32px;
    fill: #232427;
}


.navList li {
    font-size: 1.2rem;
    border: none;
    background-color: #FFF;
    border-radius: 2rem;
    padding: 8px 12px;
}

.navList li.selected{
    font-size: 1.2rem;
    border: none;
    background-color: #FFE173;
    border-radius: 2rem;
    padding: 8px 12px;
}

.mainLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navList li {
    white-space: nowrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 4.5rem;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/*container*/
.container{
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 10vh;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.88rem;
}

.myPageInfo{
    margin: 3rem 0 3rem 6.42rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.myPageText{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.myPageProfile{
    border-radius: 100%;
    width: 8.875rem;
    height: 8.875rem;
}

.myPageAge{
    color: #232427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 130%; /* 2.6rem */
}

.myPageName{
    color: #232427;
    font-size: 2rem;
    font-weight: 400;
    line-height: 130%; /* 2.6rem */
}

.myPagePoint{
    color: #232427;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 130%; /* 2.6rem */
}

.pointNum{
    color: #232427;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 130%; /* 2.6rem */
}

.myPageLevel{
    color: #232427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 130%; /* 2.6rem */
}

.infoWrap{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.levelWrap{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}


.pointWrap{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}

.pointWrap a{
    color: #232427;
    font-size: 1rem;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    text-decoration-line: underline;
}

/* grid*/
.myUserInfo{ /*개인정보*/
    width: 36.5rem;
    height: 20rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background: #FFEEB0;
}

.gridTitle{
    color: #232427;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 130%; /* 1.95rem */
}

.inputContainer{
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


.inputContainer > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nameContainer{
    width: 100%;
    display: flex;
    gap: 0.75rem;
}

#inputName{
    display: flex;
    padding: 0.65rem 1.5rem;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 1.875rem;
    background-color: #FAFAFA;

    color: #232427;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
}

.editBtn{  
    display: flex;
    padding: 0.65rem 1.5rem;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 1.875rem;
    background-color: #FAFAFA;

    color: #232427;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    cursor: pointer;
    /* Drop Shadow */
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.inputTitle{
    color: #232427;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.4625rem */
}

.inputBox{
    display: flex;
    padding: 0.625rem 1.875rem;
    display: flex;

    width: 25.27625rem;
    height: 1.4375rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem;
    
    border-radius: 1.875rem;
    background: #232427;

    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
}

/* 등록한 단어 */
.myUserWord{
    width: 36.5rem;
    height: 20rem;
    border-radius: 1.25rem;
    background: #FFEEB0;

    padding: 1.25rem 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.userWordCardList{
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    overflow-x: scroll;
}

.userWordCardList::-webkit-scrollbar{
    width: 0.625rem;
}

.userWordCardList::-webkit-scrollbar-thumb{
    background-color: #FFE173;
    border-radius: 0.625rem;
}

.userWordCard{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    padding: 1.875rem 3rem;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.wordCardBottom{
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.wordCardBottomTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.userWord{
    color: #232427;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.userWordLike{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

/*등록한 질문*/
.myUserQuest{
    width: 36.5rem;
    height: 20rem;
    border-radius: 1.25rem;
    background: #FFEEB0;

    display: inline-flex;
    padding: 1.25rem 1rem;
    flex-direction: column;
    gap: 0.75rem;
}

.userQuestCardList{
    display: flex;
    flex-direction: column;
    gap: 0.81rem;
    overflow-y: scroll;
}

.userQuestCard{
    cursor: pointer; 
    padding: 0.62rem 1.25rem;
    border-radius: 1.25rem;
    background: #FFF;
    align-self: stretch;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.userQuestText{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.userQuestCardList::-webkit-scrollbar{
    width: 0.625rem;
}

.userQuestCardList::-webkit-scrollbar-thumb{
    background-color: #FFE173;
    border-radius: 0.625rem;
}


/*수정요청목록*/
.myUserRequest{
    width: 36.5rem;
    height: 20rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background: #FFEEB0;

    display: inline-flex;
    padding: 1.25rem 1rem;
    flex-direction: column;
    gap: 0.75rem;
}

.userRequestCardList{
    display: flex;
    flex-direction: column;
    gap: 0.81rem;
    overflow-y: scroll;
}

.userRequestCard{
    cursor: pointer; 
    padding: 0.62rem 1.25rem;
    border-radius: 1.25rem;
    background: #FFF;
    align-self: stretch;
    box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);
}

.userRequestText{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.userRequestCardList::-webkit-scrollbar{
    width: 0.625rem;
}

.userRequestCardList::-webkit-scrollbar-thumb{
    background-color: #FFE173;
    border-radius: 0.625rem;
}
